html{
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  box-sizing: border-box;
}


:root{

  --font-family: 'Inter', sans-serif;
  --background-color: white;
  --font-size-p: 14px;
  --font-size-h1: 32px;
  --font-size-main: 18px;
  --font-color-h1: black ;
  --color-p-label: #B9B9BE;
  --font-weight-h1-h2: 700;
  --font-weight-p: 600;
  --font-weight-li: 500;
  --subtitle-color: #575767;

}

html{
  font-family: var(--font-family);
  background-color: var(--background-color);
}

h1{
  color: var(--font-color-h1);
  font-style: var(--font-size-h1);
}

.subtitle{
  color: var(--subtitle-color);

}
.subtitle, p{
  font-style: var(--font-size-p);
  font-weight: var(--font-weight-p);
}

h1,h2{
  font-weight: var(--font-weight-h1-h2);
}
hr{
  color: #D0D0D0;
}

li >p, li> label {
  color: var(--color-p-label);
}
ul{
  list-style-type: none;
}
h2, ul.top > li{
  color: var(--subtitle-color);
  font-style: var(--font-size-main);
}
ul.top >li {
  font-weight: var(--font-weight-li);
}
label {
  font-size: var(--font-size-main);
}



