:root {
  --main-font-family: "Inter", "Roboto", sans-serif;
  --background-color: #f8f8f8;
  --h1-color: #0e0e11;
  --h1h2font-weight: bold;
  --h1font-size: 32px;
  --h2font-size: 18px;
  --pfont-size: 14px;
  --first-color: #575767;
  --second-color: #b9b9be;
  --h2-color: var(--first-color);
  --incomlete-color: var(--first-color);
  --classfont-weight: 500;
  --pfont-weight: 600;
  --padding-lefth1pcompleted: 16px;
  --padding-leftincomleted: 17px;
  --pading-lefth2: 18px;
  --margin-tophtml: 0px;
}
html {
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  margin-left: var(--margin-tophtml);
}
ul {
  list-style-type: none;
}

h1 {
  color: var(--h1-color);
  font-weight: var(--h1h2font-weight);
  font-size: var(--h1font-size);
  padding-left: var(--padding-lefth1pcompleted);
  margin-bottom: 8px;
}

h1 + p {
  color: var(--first-color);
  font-weight: var(--pfont-weight);
  font-size: var(--pfont-size);
  padding-left: var(--padding-lefth1pcompleted);
}

h2 {
  color: var(--h2-color);
  font-weight: var(--h1h2font-weight);
  font-size: var(--h2font-size);
  padding-left: var(--pading-lefth2);
}

.incomplete {
  color: var(--incomlete-color);
  font-weight: var(--classfont-weight);
  font-size: var(--h2font-size);
  padding-left: var(--padding-leftincomleted);
}

p {
  color: var(--second-color);
  font-weight: var(--pfont-weight);
  font-size: var(--pfont-size);
  margin-top: 4px;
  padding-left: 24px;
}

.completed {
  color: var(--second-color);
  font-weight: var(--classfont-weight);
  font-size: var(--h2font-size);
  padding-left: var(--padding-lefth1pcompleted);
}
button {
  position: absolute;
  right: 70px;
  bottom: 40px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #3f4ea0;
  border: 2px solid #515cc6;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #2104a1;
 transform: translateY(4px);
}
